<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.utng.smarthealthmonitor.tv">

    <!-- Declarar que es una app de TV -->
    <uses-feature android:name="android.software.leanback"
        android:required="true" />
    <!-- No requiere pantalla tactil -->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
 
    <application
        android:name=".SmartHealthTVApp"
        android:theme="@style/Theme.SmartHealthTV"
        android:banner="@drawable/banner_tv"> <!-- 320x180dp -->
        <activity android:name=".TVActivity"
            android:exported="true"
            android:label="SmartHealth TV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Categoria LEANBACK_LAUNCHER: aparece en launcher TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
